.our-partners {
  margin-top: 15px;

  width: 100%;
  height: 320px;

  h2 {
    text-align: center;
    font-size: 35px;
    color: #163269;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
      'Droid Sans', 'Helvetica Neue', sans-serif;
  }

  .partners-list {
    margin-top: 6%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    img {
      min-width: 100px;
      min-height: 80px;

      max-width: 200px;
      max-height: 200px;
    }
  }
}
