.contact-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-right: 20px;

  .contact-block {
    display: flex;
    color: #96a2b8;
    font-family: 15px;

    margin-right: 15px;

    img {
      width: 16px;
      margin-right: 10px;
    }
  }
}