.carousel {
  width: 50vw;
}

.carousel-control-prev {
  margin-left: -20%;
}

.carousel-control-next {
  margin-right: -20%;
}

.carousel-control-prev,
.carousel-control-next {
  height: inherit;

  .carousel-control-prev-icon {
    background-image: url('../../styles/assets/icons/left-arrow.png');
    width: 23px;
    height: 48px;
  }
  .carousel-control-next-icon {
    background-image: url('../../styles/assets/icons/right-arrow.png');
    width: 23px;
    height: 48px;
  }
}
