.vertical-container {
  display: flex;
  flex-direction: column;

  .content {
    margin-left: 0;

    .disciplines-list {
      margin-left: -25px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
}
